.card {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);

  & > a {
    display: flex;
    align-items: center;
    flex-direction: column;

    color: inherit;
    height: 100%;
    text-decoration: none;
  }

  & img {
    max-width: 100%;
  }

  & h1 {
    margin: auto 0 0;
    padding: 1rem;
  }
}

.list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  & > h1 {
    grid-column: 1 / -1;
  }

  & .actionButton {
    grid-column: 1 / -1;
    justify-self: start;
  }
}

.actionButton {
  --outline-color: var(--primary-dark);
  --bg-color: var(--primary-light);
  --text-color: var(--text-on-dark);
  --hover-bg: var(--primary);

  display: inline-flex;
  align-items: center;

  padding: 0.5rem 1rem;

  border: 1px solid var(--outline-color);
  border-radius: 3px;
  background-color: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;

  &.danger {
    --bg-color: var(--secondary-light);
    --outline-color: var(--secondary-dark);
    --hover-bg: color-mix(in srgb, var(--secondary-light) 90%, #000);
  }

  &:hover {
    --bg-color: var(--hover-bg);
  }

  & svg {
    margin-top: -2px;
    margin-right: 0.5rem;
  }
}
